/* Metrics *****************/

$padding: 20px;
$margin: 20px;

/*  / Metrics *****************/

/* Colors *****************/

	// 	primary
	$heroGray: #3D3E40;
	$slateBlue: #285573;
	$lavender: #68718D;
	$aqua: #449EB9;
	$tan: #F0CEAB;

	// Secondary
	$lightLavender: #E1E3E8;
	$lightTan: #FBF2E9;
	$bg: #E1E3E8;
	$bgAccent: #5F5D62;
	
	// Grays
	$darkGray: #2C2D30;

	// Headers
	$darkBlue: #2A5573;
	$lightBlue: #00789D;
	$altLavender: #706B85;

	// Type

	// UI

/* / Colors *****************/


/* UI Variables */

	// Navigation


	// Header


/* Maps *****************/





