/* Metrics *****************/

$padding: 20px;
$margin: 20px;

/*  / Metrics *****************/

/* Colors *****************/

	// 	primary
	$red: #E74C3C;
	$blue: #3498DB;
	$yellow: #F1C40F;
	$darkBlue: #2C3E50;

	// Type

	// UI

/* / Colors *****************/


/* UI Variables */

	// Navigation


	// Header


/* Maps *****************/





